body {
	font-family: sans-serif;
	text-align: center;
}

@keyframes flash {
    0% {
        border-color: white;
        opacity:0.5;
    }
    100% {
        border-color: default;
        opacity: default;
    }
}

.flash {
	animation: 0.8s ease-out 1 flash;
}

.bg-main {
	background-color: #301934 !important;
}
